.blog-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    // background: url("/images/main-header2.png");
    background: url("/images/web design and development dublin rocket.chip webs solutions blog.jpg");
    background-position: center;
    background-size: cover;

    @media (max-width: 550px) {
        height: 60vh;
    }

    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        // background-color: rgba($color-primary, 0.7);
        background-color: rgba(darkslategray, 0.7);
    }
}

.blog-heading-text {
    font-size: 5rem;
    color: $grey1;
    z-index: 20;
    @media (max-width: 500px) {
        font-size: 4rem;
    }
}

.featured-article-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    background: $grey2;
}

.featured-article {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
    position: relative;
    text-decoration: none;

    @media (max-width: 1100px) {
        width: 100%;
    }
}

.featured-article-picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        // background-color: rgba($color-primary, 0.7);
        background-color: rgba(darkslategray, 0.7);
    }
}

.featured-article-featured {
    z-index: 10;
    color: $grey1;
    margin-left: 1rem;
    font-size: 4rem;
}

.featured-article-title-container {
    background: rgba($grey1, 0.7);
    z-index: 10;
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.featured-article-title {
    margin-left: 1rem;
    color: darkslategray;
}

.main-section-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    background: $grey2;
}

.main-section {
    width: 90%;
    display: flex;

    @media (max-width: 1100px) {
        width: 100%;
    }
}

.articles-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    border-right: 2px solid $complementary;
}

.side-bar-container {
    width: 30%;
    // height: 10rem;
    padding: 2rem;
    border-top: 2px solid $complementary;
}
