.categories-navbar-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.categories-navbar {
    width: 95%;
    display: flex;
}

.blog-article-hero {
    height: 35rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-article-hero-image {
    position: absolute;
    width: 100%;
    height: 100%;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        // background-color: rgba($color-primary, 0.7);
        background-color: rgba(darkslategray, 0.7);
    }
}

.blog-article-hero-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog-article-title-container {
    background: rgba($grey1, 0.7);
    z-index: 10;
    width: 50rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.blog-article-title {
    color: darkslategray;
    margin-left: 1rem;
}

.blog-article-date-container {
    background: rgba($grey1, 0.7);
    z-index: 10;
    width: 30rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.25rem;
}

.blog-article-date {
    color: darkslategray;
    margin-left: 1rem;
}

.blog-article-output-container {
}
