// Buttons

.btn {
    color: $grey1;
    background-color: $complementary;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 2rem;
    z-index: 15;
    text-decoration: none;

    &:hover {
        background-color: $grey1;
        color: $complementary;
        border: $complementary 1px solid;
        cursor: pointer;
    }
}
