.contact-general-container {
    grid-column: 1 / -1;
    background: $grey1;
    display: grid;

    .contact-general {
        justify-self: center;
        width: 70%;
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        flex-wrap: wrap;
        color: darkslategray;

        @media (max-width: 950px) {
            width: 90%;
        }

        @media (max-width: 700px) {
            width: 95%;
        }

        .contact-general-info {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;

            .contact-general-info-nap {
                width: 45%;

                @media (max-width: 890px) {
                    width: 100%;
                    margin-bottom: 1rem;
                }

                &-heading,
                .contact-general-info-hours-heading {
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                }

                &-info,
                .contact-general-info-hours-info {
                    line-height: 1.4;
                    font-size: 1.7rem;
                    margin-bottom: 1rem;
                }

                .contact-general-info-hours {
                    padding-top: 1.4rem;
                }
            }

            .contact-general-map {
                width: 45%;
                align-self: center;

                @media (max-width: 890px) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        &-phone {
            margin-bottom: 1rem;
            font-size: 1.7rem;

            @media (max-width: 900px) {
                margin-bottom: 2rem;
            }

            i {
                color: $color-primary;
                margin-right: 3rem;
                font-size: 3rem;
            }
        }

        &-email {
            margin-bottom: 1rem;
            font-size: 1.7rem;

            i {
                color: $color-primary;
                margin-right: 2rem;
                font-size: 3rem;
            }
        }
    }

    .contact-map {
        width: 70%;
        display: flex;
        justify-content: center;
    }
}

.contact-form-container {
    position: relative;
    grid-column: 1 / -1;
    background: url("/images/mobile2.jpg");
    background-size: cover;
    background-position: center;
    display: grid;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to right bottom, $grey1, 50%, $grey4);
        opacity: 0.5;
    }

    .form {
        margin-top: 5rem;
        margin-bottom: 5rem;
        background: rgba($grey3, 0.9);
        width: 70%;
        justify-self: center;
        box-shadow: $box-shadow;
        z-index: 10;

        @media (max-width: 1250px) {
            width: 70%;
        }

        @media (max-width: 1000px) {
            width: 70%;
        }

        @media (max-width: 850px) {
            width: 80%;
        }

        @media (max-width: 650px) {
            width: 90%;
        }

        &-header {
            color: $grey6;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }

        &-group {
            padding: 1rem 2rem;
        }

        &-label {
            display: block;
            margin-bottom: 0.5rem;
            font-size: 1.7rem;
        }

        &-input {
            display: block;
            margin-bottom: 1rem;
            width: 70%;
            height: 3rem;
            border-radius: 5px;
            background: $grey1;
            z-index: 5;
            font-size: 1.5rem;

            @media (max-width: 520px) {
                width: 80%;
            }

            @media (max-width: 430px) {
                width: 90%;
            }

            &:focus {
                outline: none;
                background: $grey2;
            }
        }

        &-textarea {
            display: block;
            margin-bottom: 1rem;
            width: 70%;
            border-radius: 5px;
            background: $grey1;
            font-size: 1.5rem;

            @media (max-width: 520px) {
                width: 80%;
            }

            @media (max-width: 430px) {
                width: 90%;
            }

            &:focus {
                outline: none;
                background: $grey2;
            }
        }

        &-button {
            display: block;
            margin-bottom: 2rem;
        }
    }
}

.messages-container {
    grid-column: 1 / -1;
    background: $grey5;
    display: grid;

    .messages {
        justify-self: center;
        width: 60%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
