.design-page-section-1-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    // background-image: url("/images/website hosting and maintenance dublin rocket chip web solutions.jpg");
    // background-position: right;
    // background-attachment: fixed;
    // background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($complementary, 1);
    }
}

.design-page-section-1 {
    z-index: 50;
    width: 80%;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media (max-width: 1200px) {
        width: 90%;
    }
    @media (max-width: 900px) {
        width: 95%;
    }
    @media (max-width: 750px) {
        flex-wrap: wrap;
    }

    &-left {
        width: 50%;
        // background: rgba($grey1, 0.85);
        // padding: 2rem;

        @media (max-width: 750px) {
            width: 100%;
        }

        &-heading {
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: whitesmoke;
        }

        &-info {
            color: whitesmoke;
            line-height: 1.5;
            margin-bottom: 1rem;

            i {
                font-size: 2rem;
                margin-right: 1rem;
                color: whitesmoke;
            }

            a {
                text-decoration: none;
                color: $color-primary-dark;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &-right {
        width: 50%;
        background: rgba($grey1, 0.9);
        // padding: 2rem;
        margin-left: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        // grid-template-rows: repeat(3, 10rem);

        @media (max-width: 750px) {
            margin-top: 2rem;
            width: 100%;
            height: 40rem;
            margin-left: 0;
        }

        &-image {
            width: 80%;
            height: auto;
            padding: 5rem;
            position: absolute;
        }
    }
}
.design-page-section-2-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $grey1;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .design-page-section-2 {
        display: flex;
        width: 80%;
        justify-content: center;

        &-button {
            border: 2px solid $complementary;
            background: $grey1;
            padding: 1rem 2rem;
            color: $complementary;
            border-radius: 5px;
            font-size: 2rem;
            text-decoration: none;

            &:hover {
                border: 2px $complementary solid;
                background: $complementary;
                color: $grey1;
                cursor: pointer;
            }
        }
    }
}
.design-page-section-3-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("/images/graphic design services dublin rocket chip web solutions consistency.jpg");
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($grey2, 0.4);
    }
}

.design-page-section-3 {
    z-index: 50;
    width: 80%;
    display: flex;

    @media (max-width: 1200px) {
        width: 90%;
    }
    @media (max-width: 900px) {
        width: 95%;
    }

    &-left {
        width: 20%;

        @media (max-width: 1200px) {
            width: 10%;
        }
        @media (max-width: 900px) {
            display: none;
        }
    }

    &-right {
        width: 80%;
        background: rgba($grey1, 0.9);
        padding: 2rem;

        @media (max-width: 1200px) {
            width: 90%;
        }
        @media (max-width: 900px) {
            width: 95%;
        }
        @media (max-width: 700px) {
            width: 100%;
        }

        &-heading {
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: darkslategray;
        }

        &-info {
            color: darkslategray;
            line-height: 1.5;
            margin-bottom: 1rem;

            i {
                font-size: 2rem;
                margin-right: 1rem;
                color: $color-primary-dark;
            }
        }
    }
}
