.header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    align-items: center;
    align-content: center;
    grid-column-gap: 2rem;
    // position: sticky;
    // position: -webkit-sticky;
    position: relative;
    top: 0rem;
    height: 7rem;
    background-color: $grey1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid $grey2;
    z-index: 100;

    // @media (max-width: 1100px) {
    //     height: 7rem;
    //     position: sticky;
    // }

    .logo {
        height: inherit;
        z-index: 10;
        position: relative;
        a {
            img {
                position: absolute;
                top: 1rem;
                height: 80%;
                width: auto;
            }
        }
    }

    .nav {
        display: grid;
        z-index: 10;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        align-items: center;
        justify-items: center;
        padding-left: 6rem;

        #services-nav-item {
            &:hover {
                .hovernav {
                    display: flex;
                }
            }
        }

        li {
            list-style: none;
            display: inline-block;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: black;

            &:hover {
                color: $text-color-secondary;
            }

            // &:visited {
            //     text-decoration: none;
            //     color: black;
            // }
        }

        .contact_us {
            background-color: $complementary;
            color: $grey1;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            border: 1px solid $complementary;

            &:hover,
            &:active {
                color: $complementary;
                background-color: $grey1;
                border: $complementary 1px solid;
            }
        }

        @media (max-width: 1100px) {
            visibility: hidden;
        }
    }

    .sidenavbutton {
        display: none;
        text-align: center;
        z-index: 10;
        font-size: 3rem;
        color: $color-primary;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.2);

            cursor: pointer;
        }

        @media (max-width: 1100px) {
            display: block;
        }
    }
}

.rotate {
    transform: rotate(90deg);
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to bottom right,
        $color-primary-dark,
        2%,
        $grey1,
        90%,
        $complementary
    );
    opacity: 0.4;
}

.small {
    height: 7rem;
}

.sidenav {
    display: none; // change from none
    position: absolute;
    top: 0;
    right: 0rem;
    width: 0%; // change from 0rem with animation
    height: 100%;
    z-index: 100;
    background-color: $complementary;
    animation-name: trans;
    animation-duration: 0.5s;
    transition: all 1s ease-in-out;
    transform-origin: top right;

    &-item {
        list-style: none;

        &-link {
            display: block;
            text-align: center;
            margin-bottom: 3rem;
            margin-top: 2rem;
            text-decoration: none;
            font-size: 1.7rem;
            text-transform: uppercase;
            color: $grey1;
            width: 100%;
            padding: 1rem 0rem;

            &:hover {
                background: $complementary-dark;
            }
        }
    }
}

#services-nav-item {
    &:hover .hovernav {
        display: flex;
    }
}
.hovernav {
    display: none;
    position: absolute;
    top: 7.1rem;
    left: 0;
    width: 100%;
    // height: 10rem;
    // display: flex;
    flex-direction: column;
    background: $grey2;
    // height: 4rem;
    border: 2px $complementary solid;

    &-row1 {
        display: flex;
        justify-content: space-around;
    }
}

@keyframes trans {
    0% {
        transform: scale(0);
        width: 0%;
        height: 0%;
    }

    100% {
        transform: scale(1);
        width: 100%;
        height: 100%;
    }
}
