.portfolio-banner {
    grid-column: 1 / -1;
    position: relative;
    background: url("/images/laptop-banner.jpg");
    background-position: center;
    background-size: cover;
    height: 20rem;
    display: grid;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right,
                $complementary,
                $complementary-dark-2);
        opacity: 0.5;
    }

    h1 {
        align-self: center;
        justify-self: center;
        font-size: 6rem;
        color: $grey1;
        z-index: 5;
    }
}

.portfolio-container {
    grid-column: 1 / -1;
    background-color: $grey2;
    display: grid;

    .portfolio-item {
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-self: center;
        width: 70%;
        color: $grey6;

        display: grid;
        grid-template-columns: 1fr 3fr;

        @media (max-width: 1200px) {
            width: 80%;
        }

        @media (max-width: 1000px) {
            width: 90%;
        }

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
        }

        &-img {
            display: grid;
            border-right: 4px solid $grey6;
            // border-top: 4px solid $grey6;
            // border-left: 4px solid $grey6;

            @media (max-width: 800px) {
                border-right: none;
            }

            a {
                justify-self: center;
                align-self: center;

                .larrys-img {
                    height: 15rem;
                    width: auto;
                }

                .drumcondra-img {
                    height: 15rem;
                    width: 13rem;
                }

                .islandferries-img {
                    height: 7rem;
                    width: 20rem;
                }
            }
        }

        &-info {
            padding: 1rem 3rem;
            border-bottom: 4px solid $grey6;

            @media (max-width: 800px) {
                border-bottom: none;
            }

            &-about {
                margin-bottom: 2rem;

                h2 {
                    margin-bottom: 1rem;
                }

                p {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }

            &-project {
                margin-bottom: 1rem;

                h2 {
                    margin-bottom: 1rem;
                }

                p {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }
}

.portfolio-container-2 {
    background: $grey4;
}
