.servicesnav {
    background: $grey2;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesnav-top,
.servicesnav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    // margin-top: 2rem;
    margin-bottom: 2rem;
}

.servicesnav-bottom {
}

.servicesnav-top {
    margin-top: 2rem;
}

.servicesnav-link {
    text-align: center;
    text-decoration: none;
    margin-bottom: 0.5rem;

    &-top {
        color: $complementary;
        padding: 1rem 3rem;
        background: white;
        border-radius: 5px;
        border: 1px solid $complementary;

        &:hover,
        &-active {
            background: $complementary;
            color: white;
            cursor: pointer;
        }
    }

    &-bottom {
        color: $color-primary-dark;
        padding: 1rem 3rem;
        background: white;
        border-radius: 5px;
        border: 1px solid $color-primary-dark;

        &:hover,
        &-active {
            background: $color-primary-dark;
            color: white;
            cursor: pointer;
        }
    }
}

.service-content-header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $grey2;
}
.service-content-header {
    background: $grey2;
    display: flex;
    width: 80%;

    &-left {
        width: 70%;
        display: flex;
        align-items: center;
    }

    &-right {
        width: 30%;
    }
}

//
.webdesign-page-header {
    display: flex;
    flex-direction: column;

    &-heading {
        color: darkslategray;
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    &-subheading {
        color: $complementary;
        // font-size: 2rem;
        // text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &-info {
        color: darkslategray;
        font-size: 1.8rem;
    }

    hr {
        margin-top: 4rem;
        width: 50%;
        align-self: center;
        border-bottom: 1px solid $complementary;
    }
}

// Web Design Service Page

.webdesign-page-section-1-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("/images/Website Design and Development Rocketchip Web Solutions.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($grey2, 0.2);
    }
}

.webdesign-page-section-1 {
    z-index: 50;
    width: 80%;
    display: flex;

    &-left {
        width: 60%;

        &-heading {
            margin-top: 1rem;
            margin-bottom: 1rem;
            color: darkslategray;
        }

        &-info {
            color: slategray;
            line-height: 1.5;
            margin-bottom: 1rem;
        }
    }

    &-right {
        width: 40%;
    }
}

.webdesign-page-section-2-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $complementary;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .webdesign-page-section-2 {
        display: flex;
        width: 80%;
        justify-content: center;

        &-button {
            border: 2px solid $grey1;
            background: $complementary;
            padding: 1rem 2rem;
            color: $grey1;
            border-radius: 5px;
            font-size: 2rem;
            text-decoration: none;

            &:hover {
                border: 2px $complementary solid;
                background: $grey1;
                color: $complementary;
                cursor: pointer;
            }
        }
    }
}

// clip-path: polygon(85% 0, 36% 100%, 0 100%, 0 0);
