.services-banner {
    grid-column: 1 / -1;
    position: relative;
    background: url("/images/laptop-banner2.jpg");
    background-position: center;
    background-size: cover;
    height: 20rem;
    display: grid;

    @media (max-width: 600px) {
        height: 15rem;
    }

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right,
                $complementary,
                $complementary-dark-2);
        opacity: 0.5;
    }

    h1 {
        align-self: center;
        justify-self: center;
        font-size: 6rem;
        color: $grey1;
        z-index: 5;
    }
}

.services-header {
    grid-column: 1 / -1;
    // height: 20rem;
    background-color: $complementary;
    padding-bottom: 4rem;

    display: grid;

    h2 {
        margin-top: 3rem;
        margin-bottom: 3rem;
        justify-self: center;
        font-size: 4rem;
        color: $grey2;

        @media (max-width: 550px) {
            font-size: 3.5rem;
        }

        span {
            color: $color-primary-light;
        }
    }

    p {
        justify-self: center;
        font-size: 3rem;
        color: $grey2;
        margin-bottom: 2rem;

        @media (max-width: 550px) {
            font-size: 2.6rem;
        }

        @media (max-width: 450px) {
            font-size: 2.4rem;
        }
    }
}

.svg-divider-services {
    grid-column: 1 / -1;
    // height: 20rem;
    width: 100vw;
    margin-top: -1rem;
    z-index: 5;

    svg {
        height: inherit;
        width: inherit;
    }
}

.services-summary-container {
    grid-column: 1 / -1;
    margin-top: -3rem;
    background-color: $grey1;
    // height: 20rem;
    display: grid;

    .services-summary {
        margin-top: 5rem;
        margin-bottom: 4rem;
        justify-self: center;
        // height: 90%;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-content: center;
        justify-items: center;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 4rem;
        }

        @media (max-width: 750px) {
            grid-template-columns: repeat(2, 1fr);
        }

        &-custom,
        &-responsive,
        &-redesign,
        &-maintenance,
        &-seo,
        &-graphic {
            i {
                display: block;
                font-size: 5.5rem;
                color: $color-primary;
                text-align: center;
                margin-bottom: 2rem;
            }

            h2 {
                font-size: 1.7rem;
            }
        }
    }
}

.services-divider1 {
    grid-column: 1 / -1;
    width: 100vw;
    margin-top: -1rem;
    z-index: 2;

    svg {
        height: inherit;
        width: inherit;
    }
}

.design-process-header-container {
    grid-column: 1 / -1;
    // height: 20rem;
    margin-top: -1rem;
    display: grid;
    background-color: $color-primary;

    .design-process-header {
        justify-self: center;
        // height: 90%;
        width: 80%;
        margin-bottom: 3rem;

        h1,
        p {
            color: $grey1;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.7rem;
            line-height: 2;
        }
    }
}

.design-process-container {
    grid-column: 1 / -1;
    // height: 20rem;
    background-color: $grey2;
    display: grid;

    .design-process {
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-column: 1 / -1;
        // height: 90%;
        width: 75%;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;

        @media (max-width: 1300px) {
            width: 90%;
        }

        @media (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
            // width: 40%;
            grid-row-gap: 2rem;
        }

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            width: 60%;
        }

        @media (max-width: 500px) {
            width: 70%;
        }

        @media (max-width: 450px) {
            width: 80%;
        }

        .design-step {
            background-color: $grey1;
            box-shadow: $box-shadow-light;
            position: relative;
            // height: 20rem;

            display: grid;

            &-img {
                position: relative;
                height: 20rem;

                img {
                    height: 100%;
                    width: 100%;
                }

                &-heading {
                    position: absolute;
                    bottom: 7rem;
                    right: 0rem;
                    background-color: $complementary;
                    border-radius: 10px 0px 0px 10px;
                    width: 60%;
                    padding: 1rem 0rem 1rem 1rem;
                    // padding-bottom: 1rem;
                    color: $grey1;
                    z-index: 5;
                }

                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(to right,
                            $complementary-light,
                            70%,
                            $complementary-dark);
                    opacity: 0.4;
                    z-index: 1;
                }
            }

            &-info {
                padding: 2rem 3rem;

                &-heading {
                    color: $complementary-dark;
                    margin-bottom: 1rem;
                    border-bottom: 2px solid $complementary-dark-2;
                    padding-bottom: 0.5rem;
                }
            }
        }

        .design-step-2 {
            .design-step-img::after {
                background: linear-gradient(to right,
                        $color-primary-light,
                        70%,
                        $color-primary-dark);
            }

            .design-step-img-heading {
                background-color: $color-primary-dark;
            }
        }

        .design-step-3 {
            .design-step-img::after {
                background: linear-gradient(to right,
                        $color-primary,
                        70%,
                        $color-primary-dark);
            }

            .design-step-img-heading {
                background-color: $color-primary;
            }
        }

        &-cta {
            margin-top: 2rem;
            margin-bottom: 3rem;
            grid-column: 1 / -1;
            justify-self: center;
        }
    }
}
