.servicesnav {
    background: $grey2;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesnav-top,
.servicesnav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    // margin-top: 2rem;
    margin-bottom: 2rem;
}

.servicesnav-bottom {
}

.servicesnav-top {
    margin-top: 2rem;
}

.servicesnav-link {
    text-align: center;
    text-decoration: none;
    margin-bottom: 0.5rem;

    &-top {
        color: $complementary;
        padding: 1rem 3rem;
        background: white;
        border-radius: 5px;
        border: 1px solid $complementary;

        &:hover,
        &-active {
            background: $complementary;
            color: white;
            cursor: pointer;
        }
    }

    &-bottom {
        color: $color-primary-dark;
        padding: 1rem 3rem;
        background: white;
        border-radius: 5px;
        border: 1px solid $color-primary-dark;

        &:hover,
        &-active {
            background: $color-primary-dark;
            color: white;
            cursor: pointer;
        }
    }
}

.service-content-header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $grey2;
}
.service-content-header {
    background: $grey2;
    display: flex;
    width: 80%;

    &-left {
        width: 70%;
        display: flex;
        align-items: center;
    }

    &-right {
        width: 30%;
    }
}

//
.webdesign-page-header {
    display: flex;
    flex-direction: column;

    &-heading {
        color: darkslategray;
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    &-subheading {
        color: $complementary;
        // font-size: 2rem;
        // text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &-info {
        color: darkslategray;
        font-size: 1.8rem;
    }

    hr {
        margin-top: 4rem;
        width: 50%;
        align-self: center;
        border-bottom: 1px solid $complementary;
    }
}

// Web Design Service Page

.webdesign-page-section-1-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.webdesign-page-section-1 {
    width: 80%;
    display: flex;

    &-left {
        width: 50%;
    }

    &-right {
        width: 50%;
    }
}

// clip-path: polygon(85% 0, 36% 100%, 0 100%, 0 0);
