// $background-main: rgba(55, 255, 255, 0.8);

// $color-primary-dark: rgb(204, 150, 95);
// $color-primary-light: rgba(218, 186, 154, 0.199);
// $color-primary-lightest: rgba(218, 186, 154, 0.103);
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$box-shadow-light: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
// // $text-color-primary: rgb(76, 23, 122);
// $text-color-primary: rgb(30, 107, 47);
// $text-shadow-light: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

$text-color-primary: black;
$text-color-secondary: rgb(255, 66, 18);
$background-grey: rgb(239, 239, 245);

$color-primary-1: #bdcbf5;
$color-primary-2: #6585e7;
$color-primary-3: #6585e7;

$color-primary: #3963e0;

$color-primary-4: #1f49c6;
$color-primary-5: #18399a;
$color-primary-6: #11296e;

$color-secondary-1: #fdeeb5;
$color-secondary-2: #fbe383;
$color-secondary-3: #fad752;

$color-secondary: #f8cc20;

$color-secondary-4: #dfb207;
$color-secondary-5: #ad8b05;
$color-secondary-6: #7c6304;

$grey1: #f8f8f8;
$grey2: #e8e8e8;
$grey3: #d3d3d3;
$grey4: #b8b8b8;
$grey5: #989898;
$grey6: #2f4f4f;

$color-primary-light-2: rgb(255, 194, 179);
$color-primary-light: rgb(255, 153, 128);
$color-primary: #ff4212;
$color-primary-dark: rgb(179, 36, 0);

$complementary: #00b279;
$complementary-light: rgb(0, 255, 169);
$complementary-light-2: rgb(179, 255, 230);

$complementary-dark: #008057;
$complementary-dark-2: #004d34;
