@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 65%;
}

@media (max-width: 1250px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: black;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 7rem repeat(10, 1fr) 7rem;
}

.banner {
  grid-column: 1/-1;
  display: grid;
  position: relative;
  height: 75vh;
  background: url("/images/main-header.jpg");
  background-position: top;
  background-size: cover;
}

.banner:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top right, #b32400, 15%, #f8f8f8, 90%, #00b279);
  opacity: 0.4;
}

.banner .banner-logo {
  justify-self: center;
  position: absolute;
  top: 6rem;
  z-index: 10;
}

.banner .banner-logo img {
  height: 10rem;
  width: auto;
}

.banner .banner-text {
  justify-self: center;
  position: absolute;
  top: 20rem;
  font-size: 2.5rem;
  z-index: 10;
}

.banner .banner-text span {
  color: #ff4212;
  font-size: 3rem;
}

.banner .banner-cta {
  justify-self: center;
  position: absolute;
  bottom: 12rem;
  z-index: 10;
}

.about-container {
  grid-column: 1/-1;
  height: 50rem;
  background: #00b279;
  z-index: -1;
  display: grid;
  justify-items: center;
}

.about-container .about {
  width: 80%;
  margin-top: 5rem;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about-container .about-title {
  align-self: center;
  padding-left: 2rem 5rem;
}

.about-container .about-title h1 {
  font-size: 4rem;
  border-top: 5px solid #f8f8f8;
  padding-top: 1rem;
  color: #f8f8f8;
}

.about-container .about-content p {
  padding: 2rem 7rem;
  color: #f8f8f8;
  font-size: 1.7rem;
  letter-spacing: 1.2px;
  line-height: 2.5;
}

.about-container .about-content p:first-child:first-letter {
  font-size: 5rem;
  line-height: 1.7;
  color: #f8f8f8;
  margin-bottom: -2rem;
}

.svg-divider {
  position: relative;
  grid-column: 1/-1;
  height: 20rem;
  margin-top: -15rem;
  z-index: 1;
  width: 100vw;
}

.svg-divider img {
  width: inherit;
  height: inherit;
}

.svg-divider-title {
  position: absolute;
  bottom: 2rem;
  left: -24rem;
}

.svg-divider-title img {
  height: 15rem;
  width: auto;
  z-index: 45;
}

.technologies-container {
  position: relative;
  grid-column: 1/-1;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #f8f8f8;
  margin-top: -5rem;
  height: 30rem;
}

.technologies-container .technologies {
  z-index: 3;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  justify-items: center;
}

.technologies-container .technologies-each i {
  font-size: 10rem;
  color: #ff4212;
  margin-bottom: 1rem;
}

.technologies-container .technologies-each h5 {
  font-size: 2rem;
  color: #b32400;
  text-align: center;
}

.services-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #d3d3d3;
  height: 65rem;
  justify-items: center;
  align-items: start;
}

.services-container .services {
  width: 80%;
  height: 55rem;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.services-container .services-heading {
  grid-column: 1/-1;
  height: 6rem;
  justify-self: center;
  font-size: 2rem;
  color: #2f4f4f;
}

.services-container .services .custom-design,
.services-container .services .management,
.services-container .services .graphic-design {
  margin-bottom: 1rem;
}

.services-container .services .custom-design i,
.services-container .services .management i,
.services-container .services .graphic-design i {
  font-size: 10rem;
  color: #ff4212;
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}

.services-container .services .custom-design h2,
.services-container .services .management h2,
.services-container .services .graphic-design h2 {
  color: #2f4f4f;
  text-align: center;
  margin-bottom: 1.5rem;
}

.services-container .services .custom-design p,
.services-container .services .management p,
.services-container .services .graphic-design p {
  padding: 0.5rem 1rem 0.5rem 2rem;
  font-size: 1.7rem;
}

.services-container .services-cta {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  z-index: 20;
}

.svg-divider2 {
  position: relative;
  grid-column: 1/-1;
  height: 30rem;
  width: 100vw;
  margin-top: -20rem;
  z-index: 1;
}

.svg-divider2 img {
  height: inherit;
  width: inherit;
}

.choose-us-container {
  grid-column: 1/-1;
  margin-top: -7rem;
  display: grid;
  background-color: #ff4212;
  height: 20rem;
}

.choose-us-container .choose-us {
  width: 80%;
  justify-self: center;
  display: grid;
  color: #f8f8f8;
}

.choose-us-container .choose-us h1 {
  justify-self: center;
  margin-top: 4rem;
  font-size: 4rem;
  text-transform: capitalize;
  color: #f8f8f8;
}

.difference-container {
  grid-column: 1/-1;
  height: 50rem;
  background-color: #e8e8e8;
  display: grid;
}

.difference-container .difference {
  justify-self: center;
  padding-top: 4rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.difference-container .difference-heading {
  grid-column: 1/-1;
  justify-self: center;
  height: 5rem;
  color: #2f4f4f;
  text-transform: capitalize;
  font-size: 2rem;
}

.difference-container .difference-sme i,
.difference-container .difference-personal i,
.difference-container .difference-charity i {
  font-size: 10rem;
  color: #ff4212;
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}

.difference-container .difference-sme h2,
.difference-container .difference-personal h2,
.difference-container .difference-charity h2 {
  color: #2f4f4f;
  text-align: center;
  margin-bottom: 1.5rem;
}

.difference-container .difference-sme p,
.difference-container .difference-personal p,
.difference-container .difference-charity p {
  padding: 0.5rem 1rem 0.5rem 2rem;
  font-size: 1.7rem;
}

.difference-container .difference-cta {
  grid-column: 1/-1;
  justify-self: center;
}

.header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr;
  align-items: center;
  align-content: center;
  grid-column-gap: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 9rem;
  background-color: #f8f8f8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #e8e8e8;
  z-index: 100;
}

@media (max-width: 1100px) {
  .header {
    height: 7rem;
  }
}

.header .logo {
  height: inherit;
  z-index: 10;
}

.header .logo a img {
  position: absolute;
  top: 1rem;
  height: 80%;
  width: auto;
}

.header .nav {
  display: grid;
  z-index: 10;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  align-items: center;
  justify-items: center;
  padding-left: 6rem;
}

.header .nav li {
  list-style: none;
}

.header .nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.header .nav a:hover {
  color: #ff4212;
}

.header .nav .contact_us {
  background-color: #00b279;
  color: #f8f8f8;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #00b279;
}

.header .nav .contact_us:hover,
.header .nav .contact_us:active {
  color: #00b279;
  background-color: #d3d3d3;
  border: #d3d3d3 1px solid;
}

@media (max-width: 1100px) {
  .header .nav {
    visibility: hidden;
  }
}

.header .sidenavbutton {
  display: none;
  text-align: center;
  z-index: 10;
}

@media (max-width: 1100px) {
  .header .sidenavbutton {
    display: block;
  }
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #b32400, 2%, #f8f8f8, 90%, #00b279);
  opacity: 0.4;
}

.small {
  height: 7rem;
}

.btn {
  color: #f8f8f8;
  background-color: #00b279;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 2rem;
  z-index: 15;
  text-decoration: none;
}

.btn:hover {
  background-color: #d3d3d3;
  color: #00b279;
  border: #b8b8b8 1px solid;
  cursor: pointer;
}

.footer-container {
  grid-column: 1/-1;
  height: 30rem;
  background-color: #2f4f4f;
  display: grid;
  justify-items: center;
}

.footer-container .footer {
  padding-top: 8rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.footer-container .footer-sitemap h2,
.footer-container .footer-location h2,
.footer-container .footer-connect h2,
.footer-container .footer-contact h2 {
  color: #b8b8b8;
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.footer-container .footer-sitemap ul li,
.footer-container .footer-location ul li,
.footer-container .footer-connect ul li,
.footer-container .footer-contact ul li {
  list-style: none;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  color: #989898;
}

.footer-container .footer-sitemap p,
.footer-container .footer-location p,
.footer-container .footer-connect p,
.footer-container .footer-contact p {
  color: #989898;
  margin-bottom: 1rem;
}

.footer-container .footer-sitemap p i,
.footer-container .footer-location p i,
.footer-container .footer-connect p i,
.footer-container .footer-contact p i {
  font-size: 3rem;
  padding-right: 2rem;
}

.about-banner {
  grid-column: 1/-1;
  position: relative;
  background: url("/images/laptop-banner.jpg");
  background-position: center;
  background-size: cover;
  height: 20rem;
  display: grid;
}

.about-banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #00b279, #004d34);
  opacity: 0.5;
}

.about-banner h1 {
  align-self: center;
  justify-self: center;
  font-size: 6rem;
  color: #f8f8f8;
  z-index: 5;
}

.about-us-container {
  grid-column: 1/-1;
  height: 45rem;
  background-color: #d3d3d3;
  background-position: center;
  background-size: cover;
  display: grid;
}

.about-us-container .about-us {
  justify-self: center;
  width: 80%;
  height: 45rem;
  padding-top: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4rem;
}

.about-us-container .about-us-who h2,
.about-us-container .about-us-vision h2,
.about-us-container .about-us-what h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.about-us-container .about-us-who p,
.about-us-container .about-us-vision p,
.about-us-container .about-us-what p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.about-us-container .about-us-who ul li,
.about-us-container .about-us-vision ul li,
.about-us-container .about-us-what ul li {
  margin-bottom: 0.5rem;
  list-style: none;
}

.about-us-container .about-us-who ul li i,
.about-us-container .about-us-vision ul li i,
.about-us-container .about-us-what ul li i {
  margin-right: 1rem;
  color: #ff4212;
}

.about-us-container .about-us-cta {
  grid-column: 1/-1;
  justify-self: center;
}

.clients-container {
  grid-column: 1/-1;
  height: 70rem;
  background-color: #989898;
  display: grid;
}

.clients-container .clients {
  justify-self: center;
  align-self: end;
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  justify-items: center;
}

.clients-container .clients-heading {
  grid-column: 1/-1;
  justify-self: center;
  height: 5rem;
}

.clients-container .clients-heading h2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: #2f4f4f;
  font-size: 4rem;
}

