@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 65%;
}

@media (max-width: 1250px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 60.5%;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 58.5%;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 56.5%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 55.5%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 53.5%;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 51.5%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 49.5%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 47.5%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 45.5%;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: black;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 7rem repeat(10, 1fr) 7rem;
}

.banner {
  grid-column: 1/-1;
  display: grid;
  position: relative;
  height: 55rem;
  background: url("/images/main-header2.png");
  background-position: top;
  background-size: cover;
}

@media (max-width: 750px) {
  .banner {
    height: 45rem;
  }
}

.banner:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top right, #b32400, 15%, #f8f8f8, 90%, #00b279);
  opacity: 0.4;
}

.banner .banner-logo {
  justify-self: center;
  position: absolute;
  top: 6rem;
  z-index: 10;
}

.banner .banner-logo img {
  height: 10rem;
  width: auto;
}

.banner .banner-text,
.banner #messenger {
  justify-self: center;
  position: absolute;
  text-align: center;
  top: 25rem;
  width: 50%;
  font-size: 3.5rem;
  z-index: 10;
  padding: 0 6rem;
}

@media (max-width: 750px) {
  .banner .banner-text,
  .banner #messenger {
    font-size: 2rem;
    top: 20rem;
  }
}

.banner .banner-text span,
.banner #messenger span {
  color: darkslategray;
  font-size: 3.4rem;
}

@media (max-width: 750px) {
  .banner .banner-text span,
  .banner #messenger span {
    font-size: 2rem;
  }
}

.banner .banner-cta {
  justify-self: center;
  position: absolute;
  bottom: 12rem;
  z-index: 10;
}

.txt-type > .txt {
  border-right: 0.2rem solid #b32400;
  color: darkslategray;
}

.about-container {
  grid-column: 1/-1;
  background: #00b279;
  z-index: -1;
  display: grid;
  justify-items: center;
}

.about-container .about {
  width: 80%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 1000px) {
  .about-container .about {
    grid-template-columns: 1fr;
  }
}

.about-container .about-title {
  align-self: center;
  padding-left: 2rem 5rem;
}

@media (max-width: 1000px) {
  .about-container .about-title {
    justify-self: center;
  }
}

.about-container .about-title h1 {
  font-size: 4rem;
  border-top: 5px solid #f8f8f8;
  padding-top: 1rem;
  color: #f8f8f8;
}

.about-container .about-content p {
  padding: 2rem 7rem;
  color: #f8f8f8;
  font-size: 1.7rem;
  letter-spacing: 1.2px;
  line-height: 2.5;
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  .about-container .about-content p {
    padding: 2rem 4rem;
  }
}

@media (max-width: 550px) {
  .about-container .about-content p {
    padding: 1rem 2rem;
  }
}

.about-container .about-content p:first-child:first-letter {
  font-size: 5rem;
  line-height: 1.7;
  color: #f8f8f8;
  margin-bottom: -2rem;
}

.svg-divider {
  position: relative;
  grid-column: 1/-1;
  margin-top: -1rem;
  z-index: 1;
  width: 100vw;
}

.svg-divider svg {
  width: inherit;
  height: inherit;
}

.technologies-container {
  position: relative;
  grid-column: 1/-1;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #f8f8f8;
  margin-top: -5rem;
}

.technologies-container .technologies {
  z-index: 3;
  margin-top: 7rem;
  margin-bottom: 5rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  justify-items: center;
}

@media (max-width: 800px) {
  .technologies-container .technologies {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
  }
}

@media (max-width: 500px) {
  .technologies-container .technologies {
    grid-template-columns: repeat(2, 1fr);
  }
}

.technologies-container .technologies-each i {
  font-size: 10rem;
  color: #ff4212;
  margin-bottom: 1rem;
}

.technologies-container .technologies-each h5 {
  font-size: 2rem;
  color: #b32400;
  text-align: center;
}

.services-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #d3d3d3;
  justify-items: center;
  align-items: start;
}

.services-container .services {
  width: 80%;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media (max-width: 1200px) {
  .services-container .services {
    width: 90%;
  }
}

@media (max-width: 1150px) {
  .services-container .services {
    width: 95%;
  }
}

@media (max-width: 930px) {
  .services-container .services {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .services-container .services {
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;
  }
}

.services-container .services-heading {
  grid-column: 1/-1;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-self: center;
  font-size: 2rem;
  color: #2f4f4f;
}

.services-container .services .custom-design,
.services-container .services .management,
.services-container .services .graphic-design {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.services-container .services .custom-design i,
.services-container .services .management i,
.services-container .services .graphic-design i {
  font-size: 10rem;
  color: #ff4212;
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}

.services-container .services .custom-design h2,
.services-container .services .management h2,
.services-container .services .graphic-design h2 {
  color: #2f4f4f;
  text-align: center;
  margin-bottom: 1.5rem;
}

.services-container .services .custom-design p,
.services-container .services .management p,
.services-container .services .graphic-design p {
  padding: 0.5rem 1rem 0.5rem 2rem;
  font-size: 1.7rem;
}

.services-container .services-cta {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  z-index: 20;
  margin-bottom: 2rem;
}

.svg-divider2 {
  position: relative;
  grid-column: 1/-1;
  width: 100vw;
  margin-top: -1rem;
  z-index: 2;
}

.svg-divider2 svg {
  height: inherit;
  width: inherit;
}

.choose-us-container {
  grid-column: 1/-1;
  margin-top: -0.5rem;
  display: grid;
  background-color: #ff4212;
  z-index: 1;
}

.choose-us-container .choose-us {
  width: 80%;
  justify-self: center;
  display: grid;
  color: #f8f8f8;
}

.choose-us-container .choose-us h1 {
  justify-self: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
  font-size: 4rem;
  text-transform: capitalize;
  color: #f8f8f8;
}

.difference-container {
  grid-column: 1/-1;
  background-color: #e8e8e8;
  display: grid;
}

.difference-container .difference {
  justify-self: center;
  padding-top: 4rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media (max-width: 850px) {
  .difference-container .difference {
    grid-template-columns: 1fr;
  }
}

.difference-container .difference-heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-column: 1/-1;
  justify-self: center;
  color: #2f4f4f;
  text-transform: capitalize;
  font-size: 2rem;
}

@media (max-width: 420px) {
  .difference-container .difference-heading {
    font-size: 1.6rem;
  }
}

.difference-container .difference-sme,
.difference-container .difference-personal,
.difference-container .difference-charity {
  margin-bottom: 3rem;
}

.difference-container .difference-sme i,
.difference-container .difference-personal i,
.difference-container .difference-charity i {
  font-size: 10rem;
  color: #ff4212;
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}

.difference-container .difference-sme h2,
.difference-container .difference-personal h2,
.difference-container .difference-charity h2 {
  color: #2f4f4f;
  text-align: center;
  margin-bottom: 1.5rem;
}

.difference-container .difference-sme p,
.difference-container .difference-personal p,
.difference-container .difference-charity p {
  padding: 0.5rem 1rem 0.5rem 2rem;
  font-size: 1.7rem;
}

.difference-container .difference-cta {
  margin-bottom: 5rem;
  grid-column: 1/-1;
  justify-self: center;
}

.header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr;
  align-items: center;
  align-content: center;
  grid-column-gap: 2rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0rem;
  height: 9rem;
  background-color: #f8f8f8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #e8e8e8;
  z-index: 100;
}

@media (max-width: 1100px) {
  .header {
    height: 7rem;
    position: -webkit-sticky;
    position: sticky;
  }
}

.header .logo {
  height: inherit;
  z-index: 10;
}

.header .logo a img {
  position: absolute;
  top: 1rem;
  height: 80%;
  width: auto;
}

.header .nav {
  display: grid;
  z-index: 10;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  align-items: center;
  justify-items: center;
  padding-left: 6rem;
}

.header .nav li {
  list-style: none;
}

.header .nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.header .nav a:hover {
  color: #ff4212;
}

.header .nav .contact_us {
  background-color: #00b279;
  color: #f8f8f8;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #00b279;
}

.header .nav .contact_us:hover,
.header .nav .contact_us:active {
  color: #00b279;
  background-color: #d3d3d3;
  border: #d3d3d3 1px solid;
}

@media (max-width: 1100px) {
  .header .nav {
    visibility: hidden;
  }
}

.header .sidenavbutton {
  display: none;
  text-align: center;
  z-index: 10;
  font-size: 3rem;
  color: #ff4212;
  transition: all 0.2s ease-in-out;
}

.header .sidenavbutton:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 1100px) {
  .header .sidenavbutton {
    display: block;
  }
}

.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #b32400, 2%, #f8f8f8, 90%, #00b279);
  opacity: 0.4;
}

.small {
  height: 7rem;
}

.sidenav {
  display: none;
  position: absolute;
  top: 0;
  right: 0rem;
  width: 0%;
  height: 100%;
  z-index: 100;
  background-color: #00b279;
  -webkit-animation-name: trans;
          animation-name: trans;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  transition: all 1s ease-in-out;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.sidenav-item {
  list-style: none;
}

.sidenav-item-link {
  display: block;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #f8f8f8;
  width: 100%;
  padding: 1rem 0rem;
}

.sidenav-item-link:hover {
  background: #008057;
}

@-webkit-keyframes trans {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    width: 0%;
    height: 0%;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    width: 100%;
    height: 100%;
  }
}

@keyframes trans {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    width: 0%;
    height: 0%;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    width: 100%;
    height: 100%;
  }
}

.btn {
  color: #f8f8f8;
  background-color: #00b279;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 2rem;
  z-index: 15;
  text-decoration: none;
}

.btn:hover {
  background-color: #d3d3d3;
  color: #00b279;
  border: #b8b8b8 1px solid;
  cursor: pointer;
}

.footer-container {
  grid-column: 1/-1;
  background-color: #2f4f4f;
  display: grid;
  justify-items: center;
}

.footer-container .footer {
  padding-top: 8rem;
  width: 80%;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

@media (max-width: 880px) {
  .footer-container .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
  }
}

@media (max-width: 500px) {
  .footer-container .footer {
    grid-template-columns: 1fr;
  }
}

.footer-container .footer-sitemap h2,
.footer-container .footer-location h2,
.footer-container .footer-connect h2,
.footer-container .footer-contact h2 {
  color: #b8b8b8;
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.footer-container .footer-sitemap ul li,
.footer-container .footer-location ul li,
.footer-container .footer-connect ul li,
.footer-container .footer-contact ul li {
  list-style: none;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  color: #989898;
}

.footer-container .footer-sitemap ul li a,
.footer-container .footer-location ul li a,
.footer-container .footer-connect ul li a,
.footer-container .footer-contact ul li a {
  text-decoration: none;
  color: #b8b8b8;
}

.footer-container .footer-sitemap p,
.footer-container .footer-location p,
.footer-container .footer-connect p,
.footer-container .footer-contact p {
  color: #989898;
  margin-bottom: 1rem;
}

.footer-container .footer-sitemap p a,
.footer-container .footer-location p a,
.footer-container .footer-connect p a,
.footer-container .footer-contact p a {
  color: #989898;
}

.footer-container .footer-sitemap p a i,
.footer-container .footer-location p a i,
.footer-container .footer-connect p a i,
.footer-container .footer-contact p a i {
  font-size: 3rem;
  padding-right: 2rem;
}

.footer-container .footer-sitemap p a i:hover,
.footer-container .footer-location p a i:hover,
.footer-container .footer-connect p a i:hover,
.footer-container .footer-contact p a i:hover {
  color: #e8e8e8;
}

.about-banner {
  grid-column: 1/-1;
  position: relative;
  background: url("/images/laptop-banner2.jpg");
  background-position: center;
  background-size: cover;
  height: 20rem;
  display: grid;
}

@media (max-width: 600px) {
  .about-banner {
    height: 15rem;
  }
}

.about-banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #00b279, #004d34);
  opacity: 0.5;
}

.about-banner h1 {
  align-self: center;
  justify-self: center;
  font-size: 6rem;
  color: #f8f8f8;
  z-index: 5;
}

.about-us-container {
  grid-column: 1/-1;
  background-color: #d3d3d3;
  background-position: center;
  background-size: cover;
  display: grid;
}

.about-us-container .about-us {
  justify-self: center;
  width: 80%;
  padding-top: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4rem;
}

@media (max-width: 850px) {
  .about-us-container .about-us {
    grid-template-columns: 1fr;
  }
}

.about-us-container .about-us-who,
.about-us-container .about-us-vision,
.about-us-container .about-us-what {
  margin-bottom: 3rem;
}

.about-us-container .about-us-who h2,
.about-us-container .about-us-vision h2,
.about-us-container .about-us-what h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.about-us-container .about-us-who p,
.about-us-container .about-us-vision p,
.about-us-container .about-us-what p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.about-us-container .about-us-who ul li,
.about-us-container .about-us-vision ul li,
.about-us-container .about-us-what ul li {
  margin-bottom: 0.5rem;
  list-style: none;
}

.about-us-container .about-us-who ul li i,
.about-us-container .about-us-vision ul li i,
.about-us-container .about-us-what ul li i {
  margin-right: 1rem;
  color: #ff4212;
}

.about-us-container .about-us-cta {
  margin-bottom: 5rem;
  grid-column: 1/-1;
  justify-self: center;
}

.samples-container {
  grid-column: 1/-1;
  background-color: #ff4212;
  display: grid;
}

.samples-container .samples {
  justify-self: center;
  width: 90%;
  display: grid;
}

.samples-container .samples-heading {
  justify-self: center;
}

.samples-container .samples-heading h2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: #f8f8f8;
  font-size: 4rem;
}

.samples-container .samples-heading p {
  color: #f8f8f8;
}

.clients-container {
  position: relative;
  grid-column: 1/-1;
  background-color: #989898;
  display: flex;
  background: url("/images/hero.jpg");
  background-position: center;
  background-size: cover;
}

.clients-container:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #989898;
  opacity: 0.9;
  z-index: 1;
}

.clients {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.clients-heading {
  font-size: 1.7rem;
}

.clients-heading h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.clients-grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.city-farm,
.om_meats {
  position: relative;
  background: url("/images/cityfarmbackground.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
  width: 50rem;
  transition: all 0.2s ease-in-out;
  padding: 1rem;
}

@media (max-width: 1100px) {
  .city-farm,
  .om_meats {
    margin-bottom: 2rem;
  }
}

.city-farm:hover,
.om_meats:hover {
  cursor: pointer;
}

.city-farm:hover .city-farm-pop,
.city-farm:hover .om_meats-pop,
.om_meats:hover .city-farm-pop,
.om_meats:hover .om_meats-pop {
  display: flex;
  transition: all 0.2s ease-in-out;
}

.om_meats {
  background: url("/images/om_meatsbackground.png");
}

.city-farm-pop,
.om_meats-pop {
  display: none;
  flex-direction: column;
  align-items: center;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b279;
  z-index: 100;
  opacity: 0.1;
}

.city-farm-pop:hover,
.om_meats-pop:hover {
  opacity: 0.9;
  transition: all 0.4s ease-in-out;
}

.om_meats-pop {
  background: #823a45;
  z-index: 100;
}

.cityfarmlogo-small {
  margin-top: 2rem;
  height: 8rem;
  width: auto;
  z-index: 100;
}

.project-btn-container {
  margin-top: 4rem;
}

.project-btn {
  margin-top: 7rem;
  padding: 1rem 2rem;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.project-btn:active,
.project-btn:visited {
  color: white;
}

.project-btn:hover {
  background: white;
  color: darkslategray;
  border: 2px solid white;
}

.services-banner {
  grid-column: 1/-1;
  position: relative;
  background: url("/images/laptop-banner2.jpg");
  background-position: center;
  background-size: cover;
  height: 20rem;
  display: grid;
}

@media (max-width: 600px) {
  .services-banner {
    height: 15rem;
  }
}

.services-banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #00b279, #004d34);
  opacity: 0.5;
}

.services-banner h1 {
  align-self: center;
  justify-self: center;
  font-size: 6rem;
  color: #f8f8f8;
  z-index: 5;
}

.services-header {
  grid-column: 1/-1;
  background-color: #00b279;
  padding-bottom: 4rem;
  display: grid;
}

.services-header h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-self: center;
  font-size: 4rem;
  color: #e8e8e8;
}

@media (max-width: 550px) {
  .services-header h2 {
    font-size: 3.5rem;
  }
}

.services-header h2 span {
  color: #ff9980;
}

.services-header p {
  justify-self: center;
  font-size: 3rem;
  color: #e8e8e8;
  margin-bottom: 2rem;
}

@media (max-width: 550px) {
  .services-header p {
    font-size: 2.6rem;
  }
}

@media (max-width: 450px) {
  .services-header p {
    font-size: 2.4rem;
  }
}

.svg-divider-services {
  grid-column: 1/-1;
  width: 100vw;
  margin-top: -1rem;
  z-index: 5;
}

.svg-divider-services svg {
  height: inherit;
  width: inherit;
}

.services-summary-container {
  grid-column: 1/-1;
  margin-top: -3rem;
  background-color: #f8f8f8;
  display: grid;
}

.services-summary-container .services-summary {
  margin-top: 5rem;
  margin-bottom: 4rem;
  justify-self: center;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  justify-items: center;
}

@media (max-width: 1200px) {
  .services-summary-container .services-summary {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4rem;
  }
}

@media (max-width: 750px) {
  .services-summary-container .services-summary {
    grid-template-columns: repeat(2, 1fr);
  }
}

.services-summary-container .services-summary-custom i,
.services-summary-container .services-summary-responsive i,
.services-summary-container .services-summary-redesign i,
.services-summary-container .services-summary-maintenance i,
.services-summary-container .services-summary-seo i,
.services-summary-container .services-summary-graphic i {
  display: block;
  font-size: 5.5rem;
  color: #ff4212;
  text-align: center;
  margin-bottom: 2rem;
}

.services-summary-container .services-summary-custom h2,
.services-summary-container .services-summary-responsive h2,
.services-summary-container .services-summary-redesign h2,
.services-summary-container .services-summary-maintenance h2,
.services-summary-container .services-summary-seo h2,
.services-summary-container .services-summary-graphic h2 {
  font-size: 1.7rem;
}

.services-divider1 {
  grid-column: 1/-1;
  width: 100vw;
  margin-top: -1rem;
  z-index: 2;
}

.services-divider1 svg {
  height: inherit;
  width: inherit;
}

.design-process-header-container {
  grid-column: 1/-1;
  margin-top: -1rem;
  display: grid;
  background-color: #ff4212;
}

.design-process-header-container .design-process-header {
  justify-self: center;
  width: 80%;
  margin-bottom: 3rem;
}

.design-process-header-container .design-process-header h1,
.design-process-header-container .design-process-header p {
  color: #f8f8f8;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.design-process-header-container .design-process-header p {
  font-size: 1.7rem;
  line-height: 2;
}

.design-process-container {
  grid-column: 1/-1;
  background-color: #e8e8e8;
  display: grid;
}

.design-process-container .design-process {
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-column: 1/-1;
  width: 75%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

@media (max-width: 1300px) {
  .design-process-container .design-process {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .design-process-container .design-process {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
  }
}

@media (max-width: 600px) {
  .design-process-container .design-process {
    grid-template-columns: 1fr;
    width: 60%;
  }
}

@media (max-width: 500px) {
  .design-process-container .design-process {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .design-process-container .design-process {
    width: 80%;
  }
}

.design-process-container .design-process .design-step {
  background-color: #f8f8f8;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
  display: grid;
}

.design-process-container .design-process .design-step-img {
  position: relative;
  height: 20rem;
}

.design-process-container .design-process .design-step-img img {
  height: 100%;
  width: 100%;
}

.design-process-container .design-process .design-step-img-heading {
  position: absolute;
  bottom: 7rem;
  right: 0rem;
  background-color: #00b279;
  border-radius: 10px 0px 0px 10px;
  width: 60%;
  padding: 1rem 0rem 1rem 1rem;
  color: #f8f8f8;
  z-index: 5;
}

.design-process-container .design-process .design-step-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #00ffa9, 70%, #008057);
  opacity: 0.4;
  z-index: 1;
}

.design-process-container .design-process .design-step-info {
  padding: 2rem 3rem;
}

.design-process-container .design-process .design-step-info-heading {
  color: #008057;
  margin-bottom: 1rem;
  border-bottom: 2px solid #004d34;
  padding-bottom: 0.5rem;
}

.design-process-container .design-process .design-step-2 .design-step-img::after {
  background: linear-gradient(to right, #ff9980, 70%, #b32400);
}

.design-process-container .design-process .design-step-2 .design-step-img-heading {
  background-color: #b32400;
}

.design-process-container .design-process .design-step-3 .design-step-img::after {
  background: linear-gradient(to right, #ff4212, 70%, #b32400);
}

.design-process-container .design-process .design-step-3 .design-step-img-heading {
  background-color: #ff4212;
}

.design-process-container .design-process-cta {
  margin-top: 2rem;
  margin-bottom: 3rem;
  grid-column: 1/-1;
  justify-self: center;
}

.portfolio-banner {
  grid-column: 1/-1;
  position: relative;
  background: url("/images/laptop-banner2.jpg");
  background-position: center;
  background-size: cover;
  height: 20rem;
  display: grid;
}

.portfolio-banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #00b279, #004d34);
  opacity: 0.5;
}

.portfolio-banner h1 {
  align-self: center;
  justify-self: center;
  font-size: 6rem;
  color: #f8f8f8;
  z-index: 5;
}

.portfolio-container {
  grid-column: 1/-1;
  background-color: #e8e8e8;
  display: grid;
}

.portfolio-container .portfolio-item {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-self: center;
  width: 70%;
  color: #2f4f4f;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

@media (max-width: 1200px) {
  .portfolio-container .portfolio-item {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .portfolio-container .portfolio-item {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .portfolio-container .portfolio-item {
    grid-template-columns: 1fr;
  }
}

.portfolio-container .portfolio-item-img {
  display: grid;
  border-right: 4px solid #2f4f4f;
}

@media (max-width: 800px) {
  .portfolio-container .portfolio-item-img {
    border-right: none;
  }
}

.portfolio-container .portfolio-item-img a {
  justify-self: center;
  align-self: center;
}

.portfolio-container .portfolio-item-img a .larrys-img {
  height: 15rem;
  width: auto;
}

.portfolio-container .portfolio-item-img a .drumcondra-img {
  height: 15rem;
  width: 13rem;
}

.portfolio-container .portfolio-item-img a .islandferries-img {
  height: 7rem;
  width: 20rem;
}

.portfolio-container .portfolio-item-img a .om-img {
  height: 15rem;
  width: 15rem;
}

.portfolio-container .portfolio-item-info {
  padding: 1rem 3rem;
  border-bottom: 4px solid #2f4f4f;
}

@media (max-width: 800px) {
  .portfolio-container .portfolio-item-info {
    border-bottom: none;
  }
}

.portfolio-container .portfolio-item-info-about {
  margin-bottom: 2rem;
}

.portfolio-container .portfolio-item-info-about h2 {
  margin-bottom: 1rem;
}

.portfolio-container .portfolio-item-info-about p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.portfolio-container .portfolio-item-info-project {
  margin-bottom: 1rem;
}

.portfolio-container .portfolio-item-info-project h2 {
  margin-bottom: 1rem;
}

.portfolio-container .portfolio-item-info-project p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.portfolio-container-2 {
  background: #b8b8b8;
}

.contact-general-container {
  grid-column: 1/-1;
  background: #e8e8e8;
  display: grid;
}

.contact-general-container .contact-general {
  justify-self: center;
  width: 70%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 900px) {
  .contact-general-container .contact-general {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .contact-general-container .contact-general {
    width: 95%;
  }
}

.contact-general-container .contact-general-phone {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

@media (max-width: 900px) {
  .contact-general-container .contact-general-phone {
    margin-bottom: 2rem;
  }
}

.contact-general-container .contact-general-phone i {
  color: #ff4212;
  margin-right: 3rem;
  font-size: 3rem;
}

.contact-general-container .contact-general-email {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.contact-general-container .contact-general-email i {
  color: #ff4212;
  margin-right: 2rem;
  font-size: 3rem;
}

.contact-form-container {
  position: relative;
  grid-column: 1/-1;
  background: url("/images/mobile2.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
}

.contact-form-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #f8f8f8, 50%, #b8b8b8);
  opacity: 0.5;
}

.contact-form-container .form {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background: #d3d3d3;
  width: 50%;
  justify-self: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 10;
}

@media (max-width: 1250px) {
  .contact-form-container .form {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .contact-form-container .form {
    width: 70%;
  }
}

@media (max-width: 850px) {
  .contact-form-container .form {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .contact-form-container .form {
    width: 90%;
  }
}

.contact-form-container .form-header {
  color: #2f4f4f;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.contact-form-container .form-group {
  padding: 1rem 2rem;
}

.contact-form-container .form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
}

.contact-form-container .form-input {
  display: block;
  margin-bottom: 1rem;
  width: 70%;
  height: 3rem;
  border-radius: 5px;
  background: #f8f8f8;
  z-index: 5;
  font-size: 1.5rem;
}

@media (max-width: 520px) {
  .contact-form-container .form-input {
    width: 80%;
  }
}

@media (max-width: 430px) {
  .contact-form-container .form-input {
    width: 90%;
  }
}

.contact-form-container .form-input:focus {
  outline: none;
  background: #e8e8e8;
}

.contact-form-container .form-textarea {
  display: block;
  margin-bottom: 1rem;
  width: 70%;
  border-radius: 5px;
  background: #f8f8f8;
  font-size: 1.5rem;
}

@media (max-width: 520px) {
  .contact-form-container .form-textarea {
    width: 80%;
  }
}

@media (max-width: 430px) {
  .contact-form-container .form-textarea {
    width: 90%;
  }
}

.contact-form-container .form-textarea:focus {
  outline: none;
  background: #e8e8e8;
}

.contact-form-container .form-button {
  display: block;
  margin-bottom: 2rem;
}

.messages-container {
  grid-column: 1/-1;
  background: #989898;
  display: grid;
}

.messages-container .messages {
  justify-self: center;
  width: 60%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Modals Layout */

.window-cover {
  grid-column: 1/-1;
  height: 100vh;
  width: 0vw;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.modal-responsive {
  width: 70%;
  height: 70%;
  background-color: rgba(248, 248, 248, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

@media (max-width: 1200px) {
  .modal-responsive {
    width: 90%;
  }
}

@media (max-width: 820px) {
  .modal-responsive {
    height: 95%;
  }
}

.modal-top-section {
  height: 95%;
  display: flex;
}

@media (max-width: 820px) {
  .modal-top-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.image-container {
  width: 50%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 820px) {
  .image-container {
    width: 90%;
  }
}

.modal-image {
  width: 90%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.content-section {
  width: 65%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 820px) {
  .content-section {
    width: 90%;
    height: 100%;
    margin-top: -4rem;
  }
}

.about-title,
.project-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.om-about-title,
.om-project-title {
  color: #78303a;
}

.cf-about-title,
.cf-project-title {
  color: green;
}

.c4u-about-title,
.c4u-project-title {
  color: black;
}

.if-about-title,
.if-project-title {
  color: #0781a6;
}

.dc-about-title,
.dc-project-title {
  color: #2a3074;
}

.ld-about-title,
.ld-project-title {
  color: #f89539;
}

.about-content,
.project-content {
  line-height: 1.5;
}

.bottom-section {
  width: 100%;
  height: 10%;
  display: flex;
}

@media (max-width: 820px) {
  .bottom-section {
    height: 5%;
  }
}

.close-button {
  width: 50%;
  background-color: lightslategray;
  color: #f8f8f8;
  font-size: 1.8rem;
  cursor: pointer;
}

.close-button:hover {
  background-color: #5f6f7e;
}

.link-button {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  font-size: 1.8rem;
  cursor: pointer;
  text-decoration: none;
}

.om-link-button {
  background: #78303a;
}

.om-link-button:hover {
  background: #542128;
}

.cf-link-button {
  background: green;
}

.cf-link-button:hover {
  background: #004d00;
}

.c4u-link-button {
  background: black;
}

.c4u-link-button:hover {
  background: #1a1a1a;
}

.if-link-button {
  background: #1ec3f5;
}

.if-link-button:hover {
  background: #0aa7d6;
}

.dc-link-button {
  background: #2a3074;
}

.dc-link-button:hover {
  background: #383f99;
}

.ld-link-button {
  background: #f89539;
}

.ld-link-button:hover {
  background: #f57b09;
}

/* Portfolio Grid */

.portfolio-grid {
  display: flex;
  width: 100%;
  background-color: lightgray;
  height: auto;
  justify-content: center;
  align-items: center;
}

.portfolio-grid-inset {
  width: 90%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.portfolio-element {
  margin-top: 1rem;
  width: 33%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

@media (max-width: 1000px) {
  .portfolio-element {
    width: 48%;
  }
}

@media (max-width: 700px) {
  .portfolio-element {
    width: 90%;
  }
}

.portfolio-element::after {
  display: none;
}

.portfolio-element:hover {
  cursor: pointer;
}

.portfolio-element:hover .portfolio-link-container {
  display: flex;
}

.portfolio-element:hover .link {
  display: inline-block;
  opacity: 1;
}

.portfolio-element:hover .portfolio-element::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 10;
}

.portfolio-element-img-container {
  height: 20rem;
  width: 100%;
}

.portfolio-element-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.portfolio-heading-container {
  padding: 1rem;
}

.heading {
  font-size: 1.9rem;
  text-align: center;
}

.portfolio-link-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 1s ease-in-out;
  z-index: 1;
}

.link {
  display: none;
  background: green;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: white;
  z-index: 200;
  opacity: 1;
}

.om_link {
  background: #78303a;
}

.c4u_link {
  background: black;
}

.if_link {
  background: #1ec3f5;
}

.dc_link {
  background: #2a3074;
}

.ld_link {
  background: #f89539;
}

.test-modal-window-close {
  height: 100vh;
  width: 0vw;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.test-modal-window-open {
  height: 100vh;
  width: 0vw;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

